# Secrets & configs locaux
.streamlit/secrets.toml
secrets/

# Fichiers générés
all_sources.txt
__pycache__/
*.py[cod]
.uv/
.env
.venv/
env/
dist/
build/
tmp/

test_liciel.py
TestSupabase.py
gs.py
print_liciel.py

# IDE
.idea/
.vscode/.DS_Store
.DS_Store
src/dashboard.egg-info/
*.egg-info/
.python-version
uv.lock
uv.lock
.env.claude
.claude/
streamlit_caching.md

racing_analysis_plots/