# Framework de l'application
streamlit>=1.47.1

# Authentification
streamlit-local-storage>=0.0.25
loguru>=0.7.3

# Manipulation et affichage des données
pandas>=2.3.1
plotly>=6.2.0

# Connexion aux APIs externes
supabase>=2.17.0
logfire>=4.0.0
httpx>=0.28.1

# Scraping et parsing pour diaglist.py
beautifulsoup4>=4.13.5
playwright>=1.55.0
pydantic>=2.11.7
rich>=14.1.0

# Pin de version pour la compatibilité (souvent requis par d'autres libs)
urllib3<2.0
